!!! Strict
%html
  %head
    %title
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{:rel => "stylesheet", :href => "/stylesheets/stylesheet.css", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "/stylesheets/factory.css", :type => "text/css"}
    %script{:type => "text/javascript", :src => "/js/jquery.js"}
    %script{:type => "text/javascript", :src => "/js/jquery-ui.js"}
    %script{:type => "text/javascript", :src => "/js/genesis.js"}

  %body
    =flash[:notice]
    .clear
    #container
      %p
        LAYOUT BABY
      %a{:href => '/', :class => 'float_left spaced'} Home
      %a{:href => "/factory", :class => "float_left spaced"} Factory
      %a{:href => "/list", :class => "float_left spaced"} List
      .clear
      
      = yield
      .clear
