%ul
  Your pages:
  .clear
  -@pages.each do |page|
    %li
      %a{:href => "/factory/#{page.name}", :class => "float_left spaced"}
        =page.name
      %a{:href => "/factory/#{page.name}/delete", :class => "float_left spaced"}
        remove
      .clear
    
