#test
  hi there this is the homepage
  %form{:method => :post}
    Page name:
    .clear
    %input{:name => 'page_name', :type => 'text'}
    .clear
    Page content:
    .clear
    %textarea{:name => 'page_content', :rows => '20', :cols => '50'}
    .clear
    %input{:type => 'submit', :value => 'make!'}