%ul
  Your pages:
  .clear
  -@pages.each do |page|
    %li{:class => 'float_left spaced'}
      %a{:href => "/factory/#{page.name}"}
        =page.name
    %li{:class => 'float_left spaced'}
      %a{:href => "/factory/#{page.name}/delete"}
        remove
    
