!!! Strict
%html
  %head
    %title
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{:rel => "stylesheet", :href => "/sass/stylesheet", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "/sass/factory", :type => "text/css"}
    %script{:type => "text/javascript", :src => "/js/jquery.js"}
    %script{:type => "text/javascript", :src => "/js/jquery-ui.js"}
    %script{:type => "text/javascript", :src => "/js/application.js"}

  %body
    =flash[:notice]
    .clear
    #container
      %p
        LAYOUT BABY
      %a{:href => "/factory", :class => "float_left"} Factory
      .clear
      .float_left Pages: 
      -Dir.open('app/views/factory').each do |file| 
        %a{:href => "/factories/#{File.basename(file, File.extname(file))}", :class => "float_left spaced"}
          =File.basename(file, File.extname(file))
      
      .clear
      
      = yield
      .clear
